/*GRID */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container::after,
.container::before {
  content: "";
  display: table;
  clear: both;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-mobile-4 {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  display: block;
  min-height: 1px;
}

.grid-1 {
  width: calc(8.333% - 20px);
}
.grid-2 {
  width: calc(16.666% - 20px);
}
.grid-3 {
  width: calc(25% - 20px);
}
.grid-4 {
  width: calc(33.333% - 20px);
}
.grid-5 {
  width: calc(41.666% - 20px);
}
.grid-6 {
  width: calc(50% - 20px);
}
.grid-7 {
  width: calc(58.333% - 20px);
}
.grid-8 {
  width: calc(66.666% - 20px);
}
.grid-9 {
  width: calc(75% - 20px);
}
.grid-10 {
  width: calc(83.333% - 20px);
}
.grid-11 {
  width: calc(91.666% - 20px);
}
.grid-12 {
  width: calc(100% - 20px);
}
.grid-mobile-4 {
  width: calc(33.333% - 20px);
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row::after,
.row::before,
.row-mobile-::after,
.row-mobile::before {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 739px) {
  .container {
    max-width: 300px;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    float: none;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/*GRID FIM*/
body {
  background-color: #967ecb;
  font-size: 1.25em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*HEADER */
header h1 {
  font-size: 2.2em;
  margin: 100px 0;
  text-align: center;
  font-weight: bold;
}
header h1:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #0085be;
  margin: 0 auto;
}
/*HEADER FIM */

/*SECTION 1*/

section h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 10px 10px 1px black;
}

.option {
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  color: #363636;
  transition: padding 0.5s, background-color 1s, color 1s;
}

.option:hover {
  background-color: #363636;
  color: white;
  cursor: pointer;
}

@media (max-width: 739px) {
  .option:hover {
    background-color: white;
    color: #363636;
  }
}

.option-correta {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #3ead02;
  text-align: center;
  color: white;
  transition: padding 0.5s, background-color 1s, color 1s;
}

.option-incorreta {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #ad1108;
  text-align: center;
  color: white;
  transition: padding 0.5s, background-color 1s, color 1s;
}

/*CONTATO*/
#contato {
  text-transform: uppercase;
  font-weight: bold;
  margin: 120px 0 0 0;
  text-align: center;
}
.icon-contato ul li {
  display: inline-block;
  margin: 0 20px;
}
.icon-contato {
  text-align: center;
}
.icon-contato img {
  max-width: 60px;
  border: #0085be 2px solid;
  border-radius: 100px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0);
}
.icon-contato img:hover {
  border: #000 2px solid;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
@media (max-width: 739px) {
  .contact img {
    margin: 0 auto;
    display: inline-block;
  }
}
/*CONTATO FIM*/
